.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  
}
.dashboard-card-small {
  width: 150px; /* Adjusted width to make the card smaller */
  height: 150px; /* Adjusted height to make the card smaller */
  margin: 10px; /* Add some margin for spacing */
 }
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
