<!--{{ group }}-->
<div class="card" style="height:auto;">
  <div class="card-header">
    <h5 class="card-title"><strong> Ajouter des cartes </strong></h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-6 col-md-6">
        <!-- <mat-select [(ngModel)]="idClient" [disabled]="addFromClient" (selectionChange)="changeClient()">
            <mat-option>
              Tous
            </mat-option>
            <mat-option *ngFor="let item of ClientList" [value]="item.idClient">
              {{item.raisonSociale}}
            </mat-option>
          </mat-select> -->
        <input class="form-control" [(ngModel)]="idClient" [disabled]="addFromClient" (change)="changeClient()"
          list="Client" placeholder="{{'Client'}}">

        <datalist id="Client">
          <option *ngFor="let item of ClientList" [value]="item.raisonSociale">{{ item.raisonSociale }} </option>
        </datalist>

      </div>
      <div class="col-md-4" *ngIf="this.idClient">
        <div class="col-md-12">
          <span> <b>Nombre de cartes utilisées:</b> {{ nbCarte }} / <b>Nombre de cartes maximales:</b> {{nbCarteIntial}}</span>
        </div>
        <div class="col-md-12">
          <span> <b>FLux PS : </b> {{ fluxPs }} </span>
        </div>
      </div>
      <div class="col-sm-12 text-right" *ngIf="this.idClient && groupsForms.length>0">
        <button mat-raised-button class="btn btn-success btn-ladda" [disabled]="groupsForms.invalid || idClient==''"
          (click)="save()"> Valider
        </button>
      </div>
      <div *ngIf="this.idClient" style="margin-top: 20px;" class="col-sm-12 text-right">
        <a class="btn btn-primary " data-style="expand-left" (click)="addNewGroup()">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="row mb-3"> </div>
    <div *ngIf="" style="margin-top: 20px;" class="alert alert-danger" role="alert">
      <ul>
        <p>Voulez choisir un client</p>
      </ul>
    </div>
    <div style="height:auto;" *ngIf="this.idClient">
      <form [formGroup]="formGroupes">
        <table class="table table-striped" formArrayName="groups">
           <thead>
             <tr align="center">
               <th>Porteur</th>
               <th>Identifiant 2</th>
               <th style="width: 12% !important;">Type Carte</th>
               <th style="width: 5% !important;">Gestion parc</th>
               <th>Immatriculation</th>
               <th>Frais carte</th>
               <th>Tag</th>
               <th>Numéro Tag</th>
               <th>Saisie Km</th>
               <th style="width: 12% !important;">Produit</th>
               <th><i class="icon-trash"></i></th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let groupe of groupsForms.controls; let i=index" [formGroupName]="i">
               <td>
                
                 <input class="form-control" formControlName="identifiant" id="identifiant{{i}}" required placeholder="Saisie le nom du porteur">
               </td>
               <td>
                
                 <input class="form-control" formControlName="identifiant2" id="identifiant2{{i}}" placeholder="Saisie le nom du porteur">
               </td>
               <td>
                
                 <select class="form-control" formControlName="typeCarte" id="typeCarte{{i}}" required>
                   <option value="prépayé">Prépayé</option>
                   <option value="postpayé" [disabled]="fluxPs!='Activé'">Postpayé</option>
                 </select>
               </td>
               <td>
                
                 <div class="form-check">
                   <input class="form-check-input" type="radio" formControlName="flux" id="HorsParc{{i}}" value="Hors parc">
                   <label class="form-check-label" for="HorsParc{{i}}">Hors parc</label>
                 </div>
                 <div class="form-check">
                   <input class="form-check-input" type="radio" formControlName="flux" id="Matricule{{i}}" value="Matricule">
                   <label class="form-check-label" for="Matricule{{i}}">Matricule</label>
                 </div>
               </td>
               <td>
                
                 <input class="form-control" formControlName="matricule" id="matricule{{i}}" placeholder="Saisie numéro matricule">
               </td>
               <td>
                 
                 <input type="checkbox" formControlName="fraisCarteCheck" id="fraisCarteCheck{{i}}">
                 <div *ngIf="groupe.value.fraisCarteCheck==true">
                   <div *ngFor="let item of TarifList">
                     <b *ngIf="item.produit == 'FRAI_CRE'">Frais carte: {{ item.prixUnitaire }} Dt</b>
                   </div>
                 </div>
               </td>
               <td>
                 
                 <input type="checkbox" formControlName="tag" id="tag{{i}}">
               </td>
               <td>
                 
                 <input class="form-control" formControlName="numTAG" id="numTAG{{i}}" placeholder="Saisie numéro TAG">
               </td>
               <td>
                
                 <input type="checkbox" formControlName="saisieKlm" id="saisieKlm{{i}}">
               </td>
             
                
               <td style=" width:100%;">
                <ng-multiselect-dropdown [placeholder]="'Produit'" [settings]="dropdownSettings" [data]="produits"
                  formControlName="produit" required style=" width:113%;text-align: left;">
                </ng-multiselect-dropdown>&nbsp;
              </td>          
               
               
               <td>
                 <a (click)="deleteRow(i)"> <i class="icon-trash"> </i> </a>
               </td>
             </tr>
           </tbody>
        </table>
       </form>
       
    </div>
  </div>
