<div class="card">

    <div class="card-header">
        <h5 class="card-title"> <strong>Solde départ</strong> </h5>
    </div>

    <div class="card-body">

        <form class="form-horizontal" [formGroup]="formSearch">
            <div class="form-group row" style="margin-top: 10px; ">
               <div class="col-xl-3 col-md-6">
                 <label for="clientId">Client</label>
                 <div style="text-align:center;margin-top: 10px;">
                   <input class="form-control" list="Client" placeholder="Client" formControlName="clientId" id="clientId" (change)="selectFile()">
                   <datalist id="Client">
                     <option *ngFor="let item of ClientListDropdown" [value]="item.raisonSociale">{{item.raisonSociale }} </option>
                   </datalist>
                 </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6">
                 <label for="PlafondPP">Solde PP</label>
                 <input class="form-control" type="number" formControlName="PlafondPP" id="PlafondPP" placeholder="Plafond PP">
               </div>
               <div class="col-sm-6">
                 <label for="PlafondPPE">Solde PPE</label>
                 <input class="form-control" type="number" formControlName="PlafondPPE" id="PlafondPPE" placeholder="Plafond PPE">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6">
                 <label for="PlafondDepartPP">Solde PP départ</label>
                 <input class="form-control" type="number" formControlName="PlafondDepartPP" id="PlafondDepartPP" required placeholder="Plafond PP départ">
               </div>
               <div class="col-sm-6">
                 <label for="PlafondDepartPPE">Solde PPE départ</label>
                 <input class="form-control" type="number" step="0.01" min="0.0" max="5.0" formControlName="PlafondDepartPPE" id="PlafondDepartPPE" required placeholder="Plafond PPE départ">
               </div>
            </div>
            <div class="col-md-12 text-right">
               <button class="btn btn-primary btn-ladda" data-style="expand-left" [ladda]='isLoading' (click)="ConfirmRecharge()" [disabled]="formSearch.invalid">
                 <i class="fa fa-search"> Ajouter solde Départ </i>
               </button>
            </div>
           </form>
           

    </div>

</div>