
// Override Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap source files
@import "node_modules/bootstrap/scss/bootstrap";

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Import UI Kits
@import "uikits/uikits";

// Custom styles
@import "custom";

.mat-form-field {
    display: block !important;
}

.dropdown-btn{
    min-height: 50px !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important; 
}

// .mat-form-field-infix{
//     width: auto !important;
// }

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}
